- content_for :head do
  = render 'home/back_header'
%h4.mb-4.text-dark.fw-bold
  Edit Article
= render 'form', article:@article,  |
  activity: @activity,              |
  category_id: @category_id,        |
  advertisements: @advertisements   |
