<% content_for :head do %>
	<%= render 'home/header' %>
<% end %>
<h1>Articles#new</h1>
<%= render 'form', article: @article,
					activity: @activity,
					category_id: @category_id,
					advertisements: @advertisements
				%>
