- content_for :head do
  = render 'home/header'
%h1 Articles#new
= render 'form', article: @article, |
  activity: @activity,              |
  category_id: @category_id,        |
  advertisements: @advertisements   |
