<% content_for :head do %>
	<%= render 'home/header' %>
<% end %>
<h4>Template</h4>
<button id='refresh-button'>Get New Suggestions</button>
<div class='d-flex justify-content-center' id='activity-templates'></div>
