<% content_for :head do %>
	<%= render 'home/header' %>
<% end %>
<h4>Templates</h4>
<ol>
	<li>
		Blank Article
		<%= link_to 'Blank Article', new_article_path%>
	</li>
	<li>
		<select name='activity-type' id='activity-type'>
			<% @categories.each do |category|%>
				<option value='<%=category.name%>'><%= category.name.capitalize%></option>
			<% end %>
		</select>
		<button class='btn btn-primary' id='refresh-button'>
			Get New Suggestions
		</button>
		<div class='d-flex justify-content-center' id='activity-templates'></div>
	</li>
</ol>
