- content_for :head do
  = render 'home/header'
%h4.mb-5.text-dark
  Create A New Article
.mb-3.text-dark
  .fs-3.mb-5.p-4.border-0.rounded
    %p
      Create an article from scratch
    #{link_to 'Blank Article', new_article_path, class: 'fs-3 btn btn-outline-primary'}
  .fs-3.p-4.border-0.rounded
    %p
      Create an article with random topics
    .row.mb-3
      .col-sm-2
        %select.form-select.fs-3.text-dark#activity-type{:name => "activity-type"}
          - @categories.each do |category|
            %option{:value => "#{category.name}"}= category.name.capitalize
      .col-sm-4
        %button#refresh-button.btn.btn-outline-info.text-info.fs-3
          Generate Suggestions
    .row
      #activity-templates.d-flex.justify-content-center
