%nav.navbar.navbar-expand-lg.navbar-light.bg-dark.mb-4
    .container.fs-5
        = link_to '< Back', root_path, class: 'navbar-brand text-light'
        -# %button.navbar-toggler{"aria-controls" => "navbarNavAltMarkup", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarNavAltMarkup", "data-bs-toggle" => "collapse", :type => "button"}
        -#   %span.navbar-toggler-icon
        -# #navbarNavAltMarkup.collapse.navbar-collapse
        -#   .navbar-nav.ms-auto
        -#     = link_to 'Create Article', template_new_articles_path, class: 'nav-link btn btn-info text-white fs-5 me-2'